@import "base/all.less";

.markdown-section {
    .gitbook-markdown(
        @md-color: @content-color,
        @md-line-height: @content-line-height,
        @md-link-color: @state-info-text,

        @md-code-background: #f6f8fa,
        @md-code-fontsize: 0.85,

        @md-blockquote-border: @state-info-text,
    );

    .glossary-term {
        cursor: help;
        text-decoration: underline;
    }

    code,
    blockquote {
        color: #104F8F;
        background: rgba(14, 125, 240, 0.06);
    }

    pre>code {
        color: inherit;
    }
}
